<nx-filtro>
    <div class="form-group"
         ng-if="configuracao.habilitaEapMultiEmpresa && configuracao.habilitaEapMultiEmpresa == true">
        <label>{{ResourceBundle['label_eap_multi_empresa']}}</label>
        <nx-combo id="filtroEapMultiEmpresa" ng-model="filtro.eapMultiEmpresa"
                  ng-options="eapMultiEmpresa as eapMultiEmpresa.descricao for eapMultiEmpresa in listaTodasEapMultiEmpresa track by eapMultiEmpresa.id">
        </nx-combo>
    </div>
    <div class="form-group">
        <label>{{ResourceBundle['label_exibir_documentos_impressos']}}</label> 
        <nx-combo class="form-control" id="docResponsabilidadeExibirImpressos"
                  name="docResponsabilidadeExibirImpressos" ng-model="filtro.exibirImpresso">
            <option value="N">{{ResourceBundle['label_nao']}}</option>
            <option value="S">{{ResourceBundle['label_sim']}}</option>
            <option value="T">{{ResourceBundle['label_todos']}}</option>
            <option value="F">{{ResourceBundle['label_finalizados']}}</option>
        </nx-combo>
    </div>
    <div class="form-group">
        <label>{{ResourceBundle['label_rma_separe_por_ponto_e_virgula_as_rmas']}}</label>
        <input id="docResponsabilidadeNumeroRma" class="form-control" ng-model="filtro.numeroRm">
    </div>
    <div class="form-group">
        <label>{{ResourceBundle['label_numero_protocolo']}}</label>
        <input id="docResponsabilidadeNumeroProtocolo" class="form-control" ng-model="filtro.protocolo">
    </div>
    <div class="form-group">
        <label>{{ResourceBundle['label_material']}}</label>
        <nx-auto-complete 
            id="filtroMaterial" 
            ng-model="filtro.material"
            typeahead="Material as '{{ResourceBundle['label_codigo']}}: ' + Material.codigo + '<br>{{ResourceBundle['label_nome']}}: ' + Material.nome + '<br>{{ResourceBundle['label_unidade_medida']}}: ' + Material.unidadeMedida.descricao for Material in getAutoCompleteMateriaisExistentes($viewValue)">
        </nx-auto-complete>
    </div>
    <div class="form-group">
        <label>{{ResourceBundle['label_requisitante_encarregado']}}</label>
        <nx-auto-complete id="docResponsabilidadeRequisitante" ng-model="filtro.requisitante"
                          typeahead="Pessoa as Pessoa.nome + '<br>' + Pessoa.eapMultiEmpresa.descricao for Pessoa in getAutoCompletePessoa($viewValue)">
        </nx-auto-complete>
    </div>

    <div class="form-group">
        <label>{{ResourceBundle['label_usuario_cadastrante']}}</label>
        <nx-auto-complete id="docResponsabilidadeUsuarioCadastrante" ng-model="filtro.usuarioCadastrante"
                          typeahead="Pessoa as Pessoa.nome + '<br>' + Pessoa.eapMultiEmpresa.descricao for Pessoa in getAutoCompletePessoa($viewValue)">
        </nx-auto-complete>
    </div>
    <div class="form-group">
        <label>{{ResourceBundle['label_data_emissao']}}</label>
        <div class="row">
            <div class="col-md-6">
                <nx-date-field id="docResponsabilidadeDataEmissaoDe" placeholder="{{ResourceBundle['label_de']}}"
                               ng-model="filtro.stDataEmissaoDe"></nx-date-field>
            </div>
            <div class="col-md-6">
                <nx-date-field id="docResponsabilidadeDataEmissaoAte" placeholder="{{ResourceBundle['label_ate']}}"
                               ng-model="filtro.stDataEmissaoAte"></nx-date-field>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>{{ResourceBundle['label_data_aplicacao']}}</label>
        <div class="row">
            <div class="col-md-6">
                <nx-date-field id="docResponsabilidadeDataAplicacaoDe" placeholder="{{ResourceBundle['label_de']}}"
                               ng-model="filtro.stDataAplicacaoDe"></nx-date-field>
            </div>
            <div class="col-md-6">
                <nx-date-field id="docResponsabilidadeDataAplicacaoAte" placeholder="{{ResourceBundle['label_ate']}}"
                               ng-model="filtro.stDataAplicacaoAte"></nx-date-field>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>{{ResourceBundle['label_material_chave']}}</label>
        <input id="docResponsabilidadeMaterialChave" class="form-control" ng-model="filtro.materialChave">
    </div>
    <div class="form-group">
        <label>{{ResourceBundle['label_deposito']}}</label>
        <nx-combo id="docResponsabilidadeDeposito" ng-model="filtro.deposito"
                  ng-options="Deposito as Deposito.nome for Deposito in listaDepositos track by Deposito.depositoId"
        ></nx-combo>
    </div>
</nx-filtro>