<nx-filtro>
    <div class="form-group">
        <label for="comprador.nome">{{ResourceBundle["label_comprador"]}}</label>
        <input type="text" class="form-control" id="comprador.nome" name="comprador.nome"
               ng-model="filtro.comprador.nome"/>
    </div>
    <div class="form-group">
        <label for="hierarquia">{{ResourceBundle["label_hierarquia"]}}</label>
        <input type="text" class="form-control" id="hierarquia" name="hierarquia"
               ng-model="filtro.hierarquia"/>
    </div>
</nx-filtro>