<div class="form-group"
     ng-if="campoManut.campo.tipoCampo.nome === OBJECT && campoManut.campo.modoExibicao === COMBOAUX">
    <nx-combo id="{{campoManut.id}}"
              ng-if='!campoManut.campo.propriedadeFiltro'
              ng-model="filtroCampos[propriedadeSisema][campoManut.campo.propriedadeEntity]"
              ng-change="(campoManut.eventos.length > 0 ? eventoNgChange(campoManut) : null)"

              ng-blur="(campoManut.eventos.length > 0 ? eventoNgBlur(campoManut) : null)"
              ng-focus="(campoManut.eventos.length > 0 ? eventoNgFocus(campoManut) : null)"
              ng-options="obj as obj for obj in campoManut.campo.propriedadesComboAux">
        <option value="" ng-if='filtroCampos[propriedadeSisema][campoManut.campo.propriedadeEntity]'></option>
    </nx-combo>

    <nx-combo id="{{campoManut.id}}"
              ng-if='campoManut.campo.propriedadeFiltro'
              ng-model="filtroCampos[propriedadeSisema][campoManut.campo.propriedadeEntity]"
              ng-change="(campoManut.eventos.length > 0 ? [eventoNgChange(campoManut),setaPropFiltro(campoManut)] : setaPropFiltro(campoManut))"

              ng-blur="(campoManut.eventos.length > 0 ? eventoNgBlur(campoManut) : null)"
              ng-focus="(campoManut.eventos.length > 0 ? eventoNgFocus(campoManut) : null)"
              ng-options="obj as obj for obj in campoManut.campo.propriedadesComboAux">
        <option value="" ng-if='filtroCampos[propriedadeSisema][campoManut.campo.propriedadeEntity]'></option>
    </nx-combo>

</div> 