<div class="form-group"
     ng-if="campoManut.campo.tipoCampo.nome === OBJECT && campoManut.campo.modoExibicao === COMBOAUX">
    <nx-combo id="{{campoManut.id}}"
              ng-change="(campoManut.eventos.length > 0 ? eventoNgChange(campoManut) : null)"

              ng-blur="(campoManut.eventos.length > 0 ? eventoNgBlur(campoManut) : null)"
              ng-focus="(campoManut.eventos.length > 0 ? eventoNgFocus(campoManut) : null)"
              ng-disabled="(bloqueioCampos  || campoManut.campo.isBloqueado) && (campoManut.sempreEditavel !== 'S')"
              ng-model="objSelecionadoAba[aba.codigo][campoManut.campo.propriedadeEntity]">
        <option value="" ng-if="campoManut.isObrigatorio !== 'S'"
                ng-selected="!objSelecionado[campoManut.campo.propriedadeEntity]"></option>
        <option ng-repeat="obj in campoManut.campo.propriedadesComboAux" value="{{obj}}">{{obj}}</option>
    </nx-combo>
</div> 