<div class="form-group"
     ng-if="campoManut.campo.tipoCampo.nome === OBJECT && campoManut.campo.modoExibicao === AUTOCOMPLETE">
    <nx-auto-complete
            id="{{campoManut.id}}"
            nome-dinamico="{{campoManut.campo.propriedadeEntity}}"
            typeahead-on-select="(campoManut.eventos.length > 0 ? eventoNgChange(campoManut) : null)"
            ng-click="(campoManut.eventos.length > 0 ? eventoNgClick(campoManut) : null)"
            ng-blur="(campoManut.eventos.length > 0 ? eventoNgBlur(campoManut) : null)"
            ng-focus="(campoManut.eventos.length > 0 ? eventoNgFocus(campoManut) : null)"
            ng-disabled="(bloqueioCampos  || campoManut.campo.isBloqueado) && (campoManut.sempreEditavel !== 'S')"
            typeahead="{{campoManut.campo.propriedadeEntity}} as {{campoManut.campo.propriedadeExibicao}} for {{campoManut.campo.propriedadeEntity}} in getAutoComplete($viewValue, '{{campoManut.campo.propriedadeEntity}}', null, campoManut)"
            ng-model="objSelecionado[campoManut.campo.propriedadeEntity]">
    </nx-auto-complete>
</div>