<div class="form-group"
     ng-if="campoManut.campo.tipoCampo.nome === OBJECT && campoManut.campo.modoExibicao === COMBOEAPMULTIEMPRESA">
    <nx-combo id="{{campoManut.id}}"
              ng-change="(campoManut.eventos.length > 0 ? eventoNgChange(campoManut) : null)"
              ng-blur="(campoManut.eventos.length > 0 ? eventoNgBlur(campoManut) : null)"
              ng-focus="(campoManut.eventos.length > 0 ? eventoNgFocus(campoManut) : null)"
              ng-disabled="(bloqueioCampos  || campoManut.campo.isBloqueado) && (campoManut.sempreEditavel !== 'S')"
              ng-model="objSelecionado[campoManut.campo.propriedadeEntity]"
              ng-options="eap.codigo + ' - ' + eap.descricao for eap in comboEapMultiEmpresa track by eap.id">
    </nx-combo>
</div> 