<nx-tela-padrao id="telaRmAprovacao">

    <nx-titulo titulo="{{ResourceBundle['label_aprovacao_requisicao']}}"></nx-titulo>
    <!-- btn aprovar -->
    <nx-btn label="{{ResourceBundle['label_aprovar']}}"
            funcao="aprovarConfirma()"
            ng-show="objSelecionado.rmAprovador.aprovadorVez && state === 'STATE_MANUT'"
            ng-if="!aprovadorCustos"></nx-btn>
    <!-- btn salvar -->
    <nx-btn label="{{ResourceBundle['label_salvar']}}"
            funcao="aprovarConfirma()"
            ng-show="objSelecionado.rmAprovador.aprovadorVez && state === 'STATE_MANUT'"
            ng-if="aprovadorCustos"></nx-btn>
    <!-- btn reprovar -->
    <nx-btn label="{{ResourceBundle['label_reprovar']}}"
            funcao="reprovarConfirma()"
            ng-show="objSelecionado.rmAprovador.aprovadorVez && state === 'STATE_MANUT'"
            icone="glyphicon glyphicon-remove"
            ng-if="!aprovadorCustos"></nx-btn>
    <!-- btn voltar para equipe de custos -->
    <nx-btn label="{{ResourceBundle['label_voltar_para_custos']}}"
            funcao="voltarCustosConfirma()"
            ng-show="objSelecionado.rmAprovador.aprovadorVez && state === 'STATE_MANUT'"
            icone="glyphicon glyphicon-arrow-left"
            ng-if="aprovadorGerenteCustos"></nx-btn>
    <campos-manut-rm-aprovacao></campos-manut-rm-aprovacao>    
    <nx-alert></nx-alert>
    <nx-loading></nx-loading>

    <div class="modal fade" id="modalConfirmaAprovarRm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title modalConfirmacao" id="H2">{{ResourceBundle["label_deseja_aprovar"]}}</h3>
                </div>
                <div class="modal-body">
                    <form name="formConfirma" role="form" id="formConfirma">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-xs-6 col-sm-6">
                                    <a ng-click="aprovar()" class="btn btn-success botaoFullCol" data-dismiss="modal"><span class="glyphicon glyphicon-ok">
                                        </span> {{ResourceBundle["label_sim"]}}</a>
                                </div>
                                <div class="col-md-6 col-xs-6 col-sm-6">
                                    <a type="button" class="btn btn-danger botaoFullCol" data-dismiss="modal"><span class="glyphicon glyphicon-remove">
                                        </span> {{ResourceBundle["label_nao"]}}</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalConfirmaSalvarRm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title modalConfirmacao" id="H2">{{ResourceBundle["label_deseja_aprovar_custo"]}}</h3>
                </div>
                <div class="modal-body">
                    <form name="formConfirma" role="form" id="formConfirma">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-xs-6 col-sm-6">
                                    <a ng-click="aprovar()" class="btn btn-success botaoFullCol" data-dismiss="modal"><span class="glyphicon glyphicon-ok">
                                        </span> {{ResourceBundle["label_sim"]}}</a>
                                </div>
                                <div class="col-md-6 col-xs-6 col-sm-6">
                                    <a type="button" class="btn btn-danger botaoFullCol" data-dismiss="modal"><span class="glyphicon glyphicon-remove">
                                        </span> {{ResourceBundle["label_nao"]}}</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalConfirmaReprovarRm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title modalConfirmacao" id="H2">{{ResourceBundle["label_deseja_reprovar"]}}</h3>
                </div>
                <div class="modal-body">
                    <form name="formConfirma" role="form" id="formConfirma">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-xs-6 col-sm-6">
                                    <a ng-click="reprovar()" class="btn btn-success botaoFullCol" data-dismiss="modal"><span class="glyphicon glyphicon-ok">
                                        </span> {{ResourceBundle["label_sim"]}}</a>
                                </div>
                                <div class="col-md-6 col-xs-6 col-sm-6">
                                    <a type="button" class="btn btn-danger botaoFullCol" data-dismiss="modal"><span class="glyphicon glyphicon-remove">
                                        </span> {{ResourceBundle["label_nao"]}}</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="modalConfirmaVoltarCustos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title modalConfirmacao" id="H2">{{ResourceBundle["label_deseja_voltar_para_custos"]}}</h3>
                </div>
                <div class="modal-body">
                    <form name="formConfirma" role="form" id="formConfirma">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-xs-6 col-sm-6">
                                    <a ng-click="voltarCustos()" class="btn btn-success botaoFullCol" data-dismiss="modal"><span class="glyphicon glyphicon-ok">
                                        </span> {{ResourceBundle["label_sim"]}}</a>
                                </div>
                                <div class="col-md-6 col-xs-6 col-sm-6">
                                    <a type="button" class="btn btn-danger botaoFullCol" data-dismiss="modal"><span class="glyphicon glyphicon-remove">
                                        </span> {{ResourceBundle["label_nao"]}}</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nx-tela-padrao>