<nx-paginacao 
    num-paginas="numPaginas" 
    pagina-atual="paginaAtiva" 
    listar-pagina="irParaPaginaEspecifica"
    qtde-paginas="15" > 
    <div class="col-md-12">
        <div class="table-responsive"> 
            <table class="table table-hover table-striped table-bordered lista"> 
                <thead class="fundo-cabecalho-tabela"> 
                    <tr> 
                        <th> 
                            <a ng-click="ordemLista = 'acessAcesso.referencia';
                                reverse = false"> 
                                {{ResourceBundle["label_numero"]}} 
                            </a> 
                        </th> 
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="obj in listaAcessAcesso| orderBy:ordemLista:reverse" ng-class="{'read':obj.id === objSelecionado.id}" > 
                        <td class="col-md-1" ng-class="{'read':obj.id === objSelecionado.id}"> 
                            <a> 
                                {{obj.referencia}} 
                            </a> 
                        </td>
                    </tr> 
                </tbody> 
            </table> 
        </div> 
    </div>
</nx-paginacao>
