<nx-filtro>
    <div class="form-group">
        <label>{{ResourceBundle['label_status']}}</label> 
        <nx-combo class="form-control" id="status" 
                  name="status" ng-model="filtro.status">
            <option value="S">{{ResourceBundle['label_materiais_sem_codigo_sap']}}</option>
            <option value="C">{{ResourceBundle['label_materiais_com_codigo_sap']}}</option>
        </nx-combo>
    </div>

    <div class="form-group">
        <label>{{ResourceBundle['label_codigo']}}</label>
        <input id="filtroMateriaisSemCodigoSapCodigo" class="form-control" ng-model="filtro.codigo">
    </div>

    <div class="form-group">
        <label>{{ResourceBundle['label_nome']}}</label>
        <input id="filtroMateriaisSemCodigoSapNome" class="form-control" ng-model="filtro.nome">
    </div>
</nx-filtro>