<div class="form-group"
     ng-if="campoManut.campo.tipoCampo.nome === OBJECT && campoManut.campo.modoExibicao === AUTOCOMPLETEPESSOA">
    <nx-auto-complete
            id="{{campoManut.id}}"
            ng-click="(campoManut.eventos.length > 0 ? eventoNgClick(campoManut) : null)"
            ng-blur="(campoManut.eventos.length > 0 ? eventoNgBlur(campoManut) : null)"
            ng-focus="(campoManut.eventos.length > 0 ? eventoNgFocus(campoManut) : null)"
            nome-dinamico="{{campoManut.campo.propriedadeEntity}}"
            ng-disabled="(bloqueioCampos  || campoManut.campo.isBloqueado) && (campoManut.sempreEditavel !== 'S')"
            placeholder="{{ResourceBundle['label_buscar_pessoa']}}"
            typeahead="pessoa as '{{ResourceBundle['label_nome']}}*:* ' + pessoa.nome+'<br> {{ResourceBundle['label_referencia']}}*:* ' + pessoa.referencia + '<br> {{ResourceBundle['label_documento']}}*:* '+pessoa.cpf for pessoa in getAutoComplete($viewValue, 'pessoa',null, campoManut)"
            ng-model="objSelecionadoAba[aba.codigo][campoManut.campo.propriedadeEntity]"
            typeahead-on-select="(campoManut.eventos.length > 0 ? eventoNgChange(campoManut) : carregaPessoaDinamico($model))">
    </nx-auto-complete>
</div> 